name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push-docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t whitecod/fastapi-book-project:latest .
          docker push whitecod/fastapi-book-project:latest

  deploy:
    name: Deploy to Fly.io
    runs-on: ubuntu-latest
    needs: build-and-push-docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Fly.io CLI
        run: |
          curl -L https://fly.io/install.sh | sh
          echo "$HOME/.fly/bin" >> $GITHUB_PATH
          export PATH="$HOME/.fly/bin:$PATH"  # Explicitly add to PATH

      - name: Log in to Fly.io
        run: |
          export PATH="$HOME/.fly/bin:$PATH"  # Ensure flyctl is in PATH
          flyctl auth login --access-token ${{ secrets.FLY_API_TOKEN }}

      - name: Deploy to Fly.io
        run: |
          export PATH="$HOME/.fly/bin:$PATH"  # Ensure flyctl is in PATH
          flyctl deploy --remote-only
